body{
    background-image: url(../../img/admin6.jpg);
	background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.content{
    color: yellow;
    display: flex;
    justify-content: center;

}

#canvas{
    display: flex;
    justify-content: center;
}
#formulari{
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items:center; 
    font-weight: 700;
    margin-top:1em ;
    background-color: rgba(22, 21, 21, 0.514);
}
#formulari input{margin-bottom: 1em;}
#dibu{background-color:rgba(255, 255, 255, 0.63);}

#play {
    margin-bottom: 5px;
}

#stop {
    margin-bottom: 5px;
}