body{
    background-image: url(../../img/galaxia.jpg);
	background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.user{
    position: absolute;
    justify-content:center;
    color: yellow;
    top: 50%;
    left: 40%;
    font-weight: 700;
    margin-bottom: 5px;
}