body{
    background-image: url(../../img/galaxia.jpg);
	background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    display:flex;
    justify-content:center;
    color: yellow;
}
.puntuacio{
    display:flex;
    justify-content:center;
    color: yellow;
    font-weight: 700;
    margin-bottom: 5px;
}
#dibu{
    background-color:rgba(255, 255, 255, 0.63);
}
.canvas{
    display:flex;
    justify-content:center;
}

.temps {
    position: absolute;
    top: 30%;
    left: 82%;
    color: yellow;
    font-weight: 700;
}


.timer {
    position: absolute;
    top: 50%;
    left: 85%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%) rotate(-90deg);
}

.progress-frame {
    fill: transparent;
    stroke: rgb(245, 78, 142);
    stroke-width: 5px;
}

.progress {
    fill: transparent;
    stroke: white;
    stroke-width: 5px;
    stroke-linecap: round;
    transition: stroke-dashoffset 1s;
}

.time {
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    font-size: 38px;
    color: rgb(238, 238, 238);
}
