
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


body{
    background-image: url(../../img/nave-espacial.jpg);
	background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Bungee', cursive;
   
}


@keyframes rotate {
    0% {
        transform: rotate(-5deg);
    }

    20% {
        transform: scale(0.8)
    }
    50% {
        transform: rotate(5deg);
    }
    70%{
        transform: scale(0.8)
    }
    100%{
        transform: rotate(-5deg);
    }

}

h1{
    color: yellow;
    font-size:80px;
    display: flex;
    justify-content: center;
    padding-top:3em;
    padding-bottom: 1em;
    animation: rotate 2s linear infinite;
}

.content{
    border:8px solid yellow; 
    border-radius: 20px;
}

#admin{
    border-radius: 50px;
}
#jugar{
    border-radius: 50px;
}
