<!doctype html>
<html lang="en">
  <head>
    <title>Administrar</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="../controller/admin/modificarTaulell.js"></script>
    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/stylesheets/admin/admin.css">
  </head>
  <body>
    <div class="content">
      <form action="/administrar" method="POST" id="formulari">
        <h1><b>PANELL D'ADMINISTRACIÓ</b></h1>
        <label for="width" style="width:auto">Amplada: </label><input type="number" id="width" name="width" value="0" style="width:5em" min="600" max="800"/><br>
        <label for="height" style="width:auto">Altura: </label><input type="number" id="height" name="height" value="0" style="width:5em" min="400" max="600"/><br>
        <label for="estrelles" style="width:auto">Estrelles: </label> <input type="number" id="estrelles" name="estrelles" value="1" style="width:5em" max="50" min="1"/><br>
        <label for="puntuacioMax" style="width:auto">Puntuació màxima: </label> <input type="number" id="puntuacioMax" name="puntuacioMax" value="1" style="width:5em" max="10" min="1"/><br>
        <label for="temps" style="width:auto">Temps (segons): </label> <input type="number" id="temps" name="temps" value="20" style="width:5em" max="60" min="20"/><br>
        <button class="btn btn-primary"id="play" name="play" value="play">Play</button>
        <button class="btn btn-danger" id="stop" name="stop" value="stop">Stop</button>
      </form>
      <br>
    </div>
    
    
    <div id="canvas">
      <svg id="dibu" width="<%=dades==false?640:cordenadesTaulell.width %>" height="<%=dades==false?450:cordenadesTaulell.height %>" style="border: 1px solid black">  
        <% if(dades) { %>
          <% cordenades.forEach(function(dades) { %>
            <g transform="translate(<%=dades.x %>,<%=dades.y %>)">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" version="1.1" viewBox="-45 -45 90 90">
                <path class="estrella" d="m-4-35c2-4 6-4 8 0l10 19 22 4c4 1 5 4 2 7l-15 16 3 24c0 3-1 4-4 3l-22-11-22 11c-2 1-4 0-4-3l3-24-15-16c-3-3-3-6 2-7l22-4z" style="fill:#ff0;stroke-linecap:round;stroke-linejoin:round;stroke-width:3;stroke:#000"/>
              </svg>
            </g>     
          <% }); %>
        <% } %>
      </svg>
    </div>
    
    <!-- Bootstrap JavaScript Libraries -->
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  </body>
</html>