<!doctype html>
<html lang="en">

<head>
  <title>Jugar</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="module" src="../controller/joc/accionsNau.js"></script>
  <!-- Bootstrap CSS v5.0.2 -->
  <link rel="stylesheet" href="../public/stylesheets/jugar/jugar.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
</head>

<body>
  <h1><b>StarHunters</b></h1>
 
  <div class="puntuacio">
    <label for="puntuacio">ESTRELLES ACONSEGUIDES: </label><input name="puntuacio" id="puntuacio" type="text" readonly="readonly" placeholder="0" value="0"/>
  </div>
  <div class="canvas">
    <svg id="dibu" width="<%=dades.taulell.width%>" height="<%=dades.taulell.height%>" style="overflow : visible">
      <% dades.cordenadesEstrelles.forEach(function(dades) { %>
        <g>
          <image class="estrelles" id="<%=dades.id%>" width="30" height="30" xlink:href="../public/img/estrella.svg" x=<%=dades.x %> y=<%=dades.y %> />
        </g>
      <% }); %>
    </svg>
  </div>
  <div>
    <h3 class="temps">TEMPS</h3>
    <svg class="timer">
        <circle class="progress-frame" cx="100" cy="100" r="96"></circle>
        <circle class="progress" cx="100" cy="100" r="96"></circle>
    </svg>
    <div class="time">
        <p id="temps"><span class="seconds"></span></p>
    </div>
  </div>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
  
</body>

</html>